.loader {
    width: 600px;
    background-color: var(--white);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 128px 0;
}

.loader-text {
    font-size: 30px;
}