.idea-item-container {
    width: 600px;
    background: var(--white);
    padding: 16px;
    border-bottom: 1px solid var(--border-box);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 8px;
}

.idea-item-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-box);
    padding-bottom: 8px;
}

.idea-item-title {
    font-size: 24px;
    font-weight: 600;
}

.idea-item-date {
    font-size: 14px;

}

.idea-item-description {
    font-size: 20px;
    border-bottom: 1px solid var(--border-box);
    padding: 16px 0 24px 0;
}

.idea-item-buttons-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
    border-bottom: 1px solid var(--border-box);
}


.like-comment-box {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid var(--border-box);
}