.profile-info {
    border-radius: 8px;
    background-color: var(--white);
    padding: 12px 24px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
}

.profile-username {
    font-size: 32px;
    padding: 16px 0;
}

.profile-title {
    font-size: 26px;
    margin-top:16px;
}

.user-info-title {
    font-size: 24px;
    font-weight: bold;
}

.user-info-content {
    padding-left: 16px;
    font-size: 18px;
}

.load-message {

}