.all-ideas-container {
    width:636px;
}

.all-ideas-container-no-content {
    width:600px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 16px;
    border: 1px solid var(--border-box);
}

.all-ideas-no-content button {
    font-size: 24px;
    padding: 16px;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 16px;
    border: 1px solid transparent;
}

.all-ideas-no-content button:hover {
    color: var(--primary-color);
    background-color: var(--white);
    border: 1px solid var(--primary-color);
}

.load-message {

}