.login-page-container {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: black;
    font-size: 2rem;
    margin-bottom: 32px;
}

.login-form {
    align-self: center;
    background: #FFF;
    padding: 20px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.1);
}

.register-link {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.register-link p {
    margin: 0
}

.btn {
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 0;
    margin: 16px 0;
    transition: 0.2s ease;
}

.btn-citizen {
    background-color: var(--citizen);
    border: 3px solid var(--citizen);
}

.btn-politician {
    background-color: var(--politician);
    border: 3px solid var(--politician);
}

.btn:hover {
    background-color: var(--white);
}

.btn-citizen:hover {
    color: var(--citizen);
}

.btn-politician:hover {
    color: var(--politician);
}

.box-login-citizen,
.box-login-politician {
    font-size: 18px;
    text-decoration: none;
}

.box-login-citizen:hover,
.box-login-politician:hover {
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}

.box-login-citizen:hover {
    color: var(--citizen);
}

.box-login-politician:hover {
    color: var(--politician);
}