.error-feedback {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 15px;
    font-size: 18px;
    color: var(--error-msg);
    padding-left: 16px;
}

.form-input {
    width: 100%;
}

input {
    height: 55px;
    width: 100%;
    /*padding: 0 15px;*/
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 1rem;
    margin-bottom: 15px;
    padding-left: 16px;
}

input:focus {
    outline: none;
    border-color: var(--citizen);
}

::placeholder {
    color: #777;
    font-size: 1.063rem;
}