.navbar-link-box {
    display: flex;
    gap: 12px;
    justify-content: center;
    text-align: center;
    padding: 16px 0;
    cursor: pointer;
    font-size: 18px;
    border-bottom: 1px solid var(--border-box);
}

.navbar-link {
    text-decoration: none;
    color: var(--black);
}

.navbar-link-box:hover {
    color: var(--citizen);
}

.navbar-link-icon {
    font-size: 20px;
}

.navbar-link-icon svg{
    margin-top: 1px;
    align-content: center;
}

.navbar-link-title {
    font-size: 20px;
}