.navbar-cta-box {
    background-color: #fff;
    padding: 4px 16px;
}

.navbar-cta-box button {
    background-color: blue;
    color: #fff;
    font-size: 18px;
    width: 100%;
    border-radius: 8px;
    text-decoration: none;
    padding: 8px;
    cursor: pointer;
    border: 1px solid transparent;
}

.navbar-cta-box button:hover {
    background-color: #fff;
    color: blue;
    border: 1px solid blue;
}