.navbar-cta-box {
    background-color: #fff;
    padding: 4px 16px;
}

.navbar-cta-box button {
    background-color: var(--citizen);
    color: var(--white);
    font-size: 18px;
    width: 100%;
    border-radius: 8px;
    text-decoration: none;
    padding: 8px;
    cursor: pointer;
    border: 3px solid var(--citizen);
}

.navbar-cta-box button:hover {
    background-color: var(--white);
    color: var(--citizen);
}