.idea-feed-item {
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #E8E8E8;
    margin-bottom: 8px;
}



.support-box {
    padding: 8px;
    border-bottom: 1px solid #E8E8E8;
}

.like-comment-box {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #E8E8E8;
}

.comment-box-button {
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: var(--citizen);
}

.no-comments-title {
    color: var(--citizen);
}

.cta-box {
    display: flex;
    justify-content: space-between;
    padding: 24px 8px;
    border-bottom: 1px solid #E8E8E8;
}