.homepage-container {
    display:flex;
    justify-content: center;
    gap: 16px;
}

.home-left {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    gap:16px;
    padding: 32px;
}

.home-right {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap:16px;
    padding: 32px;
}